<div class="panel panel-inverse">
			    <div class="panel-heading">
			        <div class="panel-heading-btn">
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
			        </div>
			        <h4 class="panel-title">Serial Number Generation</h4>
			    </div>
			    <div class="panel-body">
                                <div class="row">
                                <div class="col-sm-3 pull-right">
                                    <a href="tax#modal-addEdit-serialNumgen" ng-click="resetform()" data-toggle="modal" class="btn btn-md btn-success  pull-right ">Add New</a>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
			
                    <div class="row">
			<div class="col-md-3">
			<label>Serial Number:</label> <input class="form-control input-md" id="srchsnoname" name="srchsnoname" placeholder="Brand Name" type="text">
			</div>
				
			<div class="col-md-3">
                            <label for="srch_country_status">Status:</label> 
                            <select id="srhstatus" name="srhstatus" class="form-control">
                            <option value="Select">Select</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                            </select>

			</div>
					
						
			<div class="col-md-3"></div>

			<div class="col-md-3">

			<a class="btn btn-danger pull-right" style="margin-top: 24px; margin-right: 5px;" id="srchid" onclick="reload();"> Reset </a>
                        <a class="btn btn-primary pull-right" style="margin-top: 24px; margin-right: 5px;" id="srchid" onclick="snosrhlst();"> Search </a>
			</div>
                    </div>		
		</div>   
			    <div class="col-md-12 clearfix"></div>
			        <div class="table-responsive" style="clear:both;">
                                <table class="table table-striped table-bordered">
                                    
                                    
                                    	<thead>
                                    	<tr>
                                    	<td>ID</td>
                                    	<td>Ref. Key</td>
                                        <td>prefix Key</td>
                                        <td>suffix Key</td>
                                         <td>Status</td>
                                    	<td>Last Up.Dt</td>
                                        <td>Last Up.By</td>
                                    	<td>Options</td>
                                    	</tr>
                                    	</thead>
                                    	<tbody>
                                    	<tr ng-repeat="serialnumberlist in SerialNumberList | orderBy:'tax_name' | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit  ">
                                    	<td>{{serialnumberlist.slno_id}}</td>
                                    	<td>{{serialnumberlist.ref_key}}</td>
                                        <td>{{serialnumberlist.prefix_key}}</td>
                                        <td>{{serialnumberlist.suffix_key}}</td>
                                        <td>{{serialnumberlist.status}}</td>
                                    	<td>{{serialnumberlist.last_updated_dt | date:'dd-mm-yyyy H:mm' }}</td>
                                        <td>{{serialnumberlist.last_updated_by}}</td>
                                    	<td>
                                    	<a href="tax#modal-addEdit-serialNumgen" data-toggle="modal" ng-click="EditSerialNumProcess(serialnumberlist.slno_id)" class="btn btn-sm btn-info">Edit</a>
                                    	</td>
                                    	</tr>
                                    	</tbody>
                                    
                                </table>
                                
<div class="pull-right">                                
<pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
         </div>
                    </div>
                </div>
			   
			</div>
<!-- model box start -->
	<div class="modal fade custom-model" id="modal-addEdit-serialNumgen">
            <div class="modal-dialog panel-model-width">
                    <div class="modal-content">
                            <div class="modal-header">
                                   <a  data-dismiss="modal" aria-hidden="true" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></a>
                                    <h4 class="modal-title">Add/Modify Serial Number Details</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" ng-submit="AddEditSerialNumGen()"  id="snoGenForm" >
                                    <input ng-model="form.slno_id" name="slno_id" id="slno_id"  type="hidden" />
				<div class="col-md-12">
				<div class="col-md-3">	
                                    <div class="form-group" id="radiogenderid">
                                        <label>SNO Generation Level </label>
                                        <div class="radio">
                                            <label> <input ng-model="form.slnogenlevel" checked="true" name="snogenlvl" id="snogenlvlyes" value="C" type="radio">Company
                                        </label> <label><input ng-model="form.slnogenlevel" name="snogenlvl" id="snogenlvlno" value="B" type="radio">Branch</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                    <label>Store Name</label> 
                                    
                                    <select id="addstoreid" name="addstorevld" class="form-control"  options="AllActiveStore"  
                                    ng-model="form.storeid"  ng-options="store.store_id as store.store_name for store in AllActiveStore">
                                        <option value="">Select Store</option>
                                    </select>
                                    </div>
                                </div>	
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                        <label>Reference key</label> 
                                        <input ng-model="form.refkey" aria-required="true" class="form-control input-md" placeholder="Referencekey" id="refkeyid" name="refkeyvald" type="text">
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                    <label>Prefix key</label> 
                                    <input ng-model="form.prefixkey" aria-required="true" class="form-control input-md" placeholder="Prekey" id="prekeyid" name="prekeyvald" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Prefix ConCat</label> <input ng-model="form.prefixcncat" aria-required="true" class="form-control input-md" placeholder="Prekeyconcat" id="prekeyconcatid" name="prekeyconcatvald" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                    <label>Suffix key</label> <input ng-model="form.suffixkey" aria-required="true" class="form-control input-md" placeholder="Suffixkey" id="suffkeyid" name="suffkeyvald" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Suffix ConCat</label> <input ng-model="form.suffixcncat" aria-required="true" class="form-control input-md" placeholder="Suffixkeyconcat" id="suffkeyconcatid" name="suffkeyconcatvald" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                   
                                <div class="form-group" id="radiogenderid">
                                    <label>Auto Generation </label>
                                    <div class="radio">
                                        <label> <input ng-model="form.autogenyn" name="autogen" id="autogenyes" value="Y" type="radio">Yes
                                    </label> <label><input name="autogen" id="autogenlvlno" value="N" type="radio">No</label>
                                    </div>
				</div>
                                </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>key Description</label>
                                            <input ng-model="form.keydesc" class="form-control" placeholder="keydescription" id="keydescid" name="keydescvald" type="text" />
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                        <label>Status</label>
                                        <select ng-model="form.status" class="form-control " id="snostatusid" name="snoStatusvalid">
                                         <option value="">Select</option>
                                            <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                       
                                        </select>
                                        </div>
                                    </div>
				</div>
					
				<div class="modal-footer clearfix" id="sveclsesnobtn">
                                    <button type="button" id="addsnoclosebtn" onclick="closefn();" class="btn btn-danger pull-right" data-dismiss="modal"> <i class="fa fa-times"></i> Close</button>
                                    <button  ng-submit="AddEditSerialNumGen()" type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-save"></i> Save  </button>
                                </div>
				
			</form>
                            </div>

                    </div>
            </div>
	</div>		
	<!-- #modal-dialog -->	
        